*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#admin-login{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/nike-5041716_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#main{
    display: grid;
    place-content: center;
    padding-top: 10%;

}
#logos{
    display: flex;
    justify-content: center;
}
#logo{
    background-color: aliceblue;
    border-radius: 50%;
}
#admin-form{
    margin-top: 10%;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
#admin-form input{
    width: 400px;
    height: 40px;
    font-size: 20px;
}
#admin-form button{
    margin-top: 5%;
    color: #ffffff;
    width: 400px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ff0000;
    border: 1px solid #ffffff;
    border-radius: 10px;
    place-items: center;
    cursor: pointer;
}
