*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#head1{
    display:flex;
}
#head{
    display:flex;
    justify-content:space-between;
    background-color: #000000;
    padding: 8px;
}
#logo{
    margin-top: 10px;
    margin-left: 50px;
}
#heading{
    padding-top: 50px;
    padding-left: 400px;  
}
#search{
    margin-right: 2%;
}
#search input{
    height:30px;
    width: 220px;
    border-radius: 6px;
    padding: 10px;
}
#search button{
    width:100px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight:bold;
}
#nav{
    margin-left: 2%;
    margin-top: 7px;
}
ul{
    display:flex;
}
li{
    list-style:none;
}
ul a{
    text-decoration: none; 
    padding-inline-start: 10px;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
}
#section1{
    margin-left: 5%;
    margin-right: 5%;
}
 #keyframes{
    margin-top: 1%;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    place-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    animation: backgroundChange 10s linear infinite;
}
@keyframes backgroundChange {
    0% {
      background-image: url("../images/rare1.jpg");

    }
    33% {
      background-image: url("../images/jubileee.jpg");
    }
    66% {
      background-image: url("../images/rare2.jpg");

    }
    99% {
      background-image: url("../images/airmore.jpg");
    }
}
#featured{
    margin-top: 30px;
}
.h1 {
    color: #000000;
    display: flex;
    flex-direction: row;
  }
.h1:after{
    color: #ff0000;
    content: "";
    flex: 1 ;
    border-bottom: 2px solid;
    margin: 10px;
  }

.h1:after {
margin-left: 10px;
}

#images{
    display: flex;
    justify-content:center;
    margin-top: 5%;
}
.image{
    background-color: #F1F2F6;
    margin-right: 10px;
    text-align: center;
}
#shop-now{
    margin-top: 5%;
}
#shop{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#shop #shop-content {
    padding-inline-start: 10px;
    padding-bottom: 10px;
}
#shop-content button {
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: #00A6ED;
    color: #ffffff;
    border-radius: 10px;
}