*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#login-section{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/Untitleddesign.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#heading{
    color: #ffffff;
}

#form{
    display: flex;
    justify-content:center;
}