*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#registration{
    background-image: linear-gradient(rgba(197, 197, 197, 0.507),rgba(197, 197, 197, 0.507)),url(../images/reg_back.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
#heading{
    font-size: 30px;
    display:flex;
    justify-content:center;
}
.reg_form{
    padding-top: 35px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
#logo{
    margin-top: 7%;
    
    border-radius: 60%;
    width:590px;
    height:590px;
}
.input{
    width:350px;
    height: 30px;
}
.btn{
    width: 100px;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    font-weight: bolder;
}
.reg_main{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content:space-between;

}
.form-box{
    background: rgba(0,0,0,0.6);
    width: 30%;
    margin-right: 10%;
    margin-top: 10%;
    padding: 8px;
    border-radius: 10px;
}
.form-box input{
    background-color: #000000;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 0, 0);
    border:solid 1px #ffffff;
}
span{
    color: #ff0000
}
